  body {
    font-family: helvetica;
    font-size: 14px;
  }
  #graph { /*change your css*/
    width: 100%;
    height: 100%;
  }
  h1 {
    opacity: 0.5;
    font-size: 1em;
  }
  .navbar {
    z-index: 1000;
  }
  .g6-tooltip {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    font-size: 12px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 8px;
    box-shadow: rgb(174, 174, 174) 0px 0px 10px;
  }
  .minimap {
    position: absolute;
    top: 1;
    left: 1;
  }

  .dependency-info {
    position: absolute;
    top: 1;
    right: 1;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    box-shadow: rgb(174, 174, 174) 0px 0px 10px;
    display: none;
  }

  code {
    display: block;
    white-space: pre-wrap;
    overflow-y: scroll;
    height: 80%;
  }
