<html>
  <head>
    <title>Dependency Graph</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="./jquery.min.js"></script>

    <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-3.2.3/build/g6.js"></script>
    <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-3.1.1/build/minimap.js"></script>
    <script src="./index.js"></script>

    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div class="container-fluid">
      <div id="graph" style="height: 100%;"></div>
    </div>

    <div class="dependency-info">
      <a class="dependency-info_close" href="#">Close</a>

      <div class="dependency-info_container">
      </div>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        $(".dependency-info_close").click(function( event ) {
          event.preventDefault();
          $(".dependency-info").hide();
        });

        buildGraph(<%= @json_graph =%>)
      });
    </script>
  </body>
</html>
